.aside-span {
    font-weight: 900;
}

li {
    display: flex;
    align-items: center;
    color: black;
}

aside {
    padding: 1.5rem;
    position: fixed;
    right: 0;
    width: 20%;
    height: 100vh;
    background-image: url(http://www.atomisation.net/marker/backmedialist.jpg);
}

ul li {
    list-style: none;
}

li:nth-child(2n+1) {
    font-family: 'Source Code Pro' ;
}

li:nth-child(4n+1) {
  opacity: 0.5;
}