@media screen and (min-width: 801px) {
    .chat img {
        margin: 0.5rem;
        border-radius: 1rem;
        width: calc(25vw);
    }
  }

@media screen and (max-width: 800px) {
    .chat img {
        margin: 0.5rem;
        border-radius: 1rem;
        width: calc(100vw - 1rem);
    }
  }