button {
    margin: 1.75rem;
    border-radius: 1.5rem;
    height: 2rem;
    border-style: none;
    color: tomato;
    font-family: 'Fondamento';
}

.list-action {
    background-image: url(https://tof.cx/image/qQvTse);
    background: no-repeat;
}