.col-sm-12 {
    width: 330px;
    height: 12px;
    border: none;
}

.full{
    margin:1px;
    width: 10px;
    height: 10px;
    display: inline-block;
    background-color: #0ec35f;
}
.empty{
    margin:1px;
    width: 10px;
    height: 10px;
    display: inline-block;
    background-color: yellow;
}