/* font-family: 'Fondamento', ;
font-family: 'Source Code Pro', ;
font-family: 'Inconsolata', ; */

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inconsolata';
}

.flex-ctnr {
    display: flex;
}

main {
    background-repeat: no-repeat;
    background-size: cover;
    width: 80%;
    height: 100vh;
    background-image: url(http://www.atomisation.net/marker/backmedia.jpg);
}

aside {
    padding: 1.5rem;
    position: fixed;
    right: 0;
    width: 20%;
    height: 100vh;
    background-image: url(http://www.atomisation.net/marker/backmedialist.jpg);
}

ul li {
    list-style: none;
}

li:nth-child(2n+1) {
    font-family: 'Source Code Pro' ;
}

li:nth-child(3n+1) {
  opacity: 0.5;
}