.home-tel {
    background-image: url(https://i.ibb.co/8DjL6tx/green-moire.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Sue Ellen Francisco', cursive;
    }

    h1,
    h2,
    h3,
    h4,
    button {
        font-family: 'Special Elite', cursive;
    }